.*
node_modules/
Thumbs.db
gulpfile.js

# CI test files
test/
travis/
appveyor.yaml

# React sources for the Admin UI
src/

# Sourcemaps
*.map

# npm package files
iobroker.*.tgz
package-lock.json

# maintenance scripts
maintenance/**
